---
const { title, description, company, startDate, endDate } = Astro.props;
---

<div
    class="p-8 border-2 border-zinc-800 rounded-xl bg-zinc-900/50 flex flex-col gap-4"
>
    <hgroup>
        <h3 class="text-xl text-white">{title}</h3>
        <p class="!text-sm">{company}, {startDate} - {endDate}</p>
    </hgroup>

    <hr class="border border-zinc-800" />

    <p class="!text-md">{description}</p>
</div>
