---
import ProjectCard from "./ProjectCard.astro";

const projects = [
    {
        title: "Abyss",
        description:
            "Modern, lightweight, mini PHP framework designed to give developers full control over their applications.",
        githubLink: "2024",
        imageUrl: "abyss.png",
    },
    {
        title: "Shade",
        description:
            "I am responsible for creating and maintaining websites for a variety of clients including building custom software solutions for clients.",
        githubLink: "https://github.com/openvoid-dev/ward",
        imageUrl: "abyss.png",
    },
    {
        title: "Ward",
        description:
            "I am responsible for creating and maintaining websites for a variety of clients including building custom software solutions for clients.",
        githubLink: "https://github.com/openvoid-dev/ward",
        imageUrl: "abyss.png",
    },
    {
        title: "Code Repo",
        description:
            "I am responsible for creating and maintaining websites for a variety of clients including building custom software solutions for clients.",
        githubLink: "https://github.com/openvoid-dev/ward",
        imageUrl: "abyss.png",
        websiteLink: "https://coderepo.openvoid.dev/",
    },
];
---

<section id="projects">
    <h2>Recent projects</h2>
    <p class="mt-8">
        Here are some of my recent projects. You can view all of my projects by
        clicking the button below.
    </p>

    <div class="mt-10 flex flex-col gap-16">
        {
            projects.map((project, index) => (
                <ProjectCard
                    title={project.title}
                    description={project.description}
                    githubLink={project.githubLink}
                    imageUrl={project.imageUrl}
                    websiteLink={project.websiteLink}
                />
            ))
        }
    </div>
</section>
